body {
  margin: 0;
}

h1 {
  margin: 0;
}

.toptop-heading {
  display: flex;
  justify-items: center;
}

.container {
  padding: 20px;
  background-color: white;
  border: 2px solid gray;
  margin: 20px;
  display: flex;
  justify-content: center;
}

ul {
  margin: 0;
}

ul li {
  display: flex;
  border: 2px solid #f7f7f7;
  list-style-type: none;
  justify-content: space-between;
}

button {
  color: azure;
  display: block;
  background-color: aliceblue;
  padding: 12px;
  outline: none;

}

.fa-solid {
  color: #e5e9f0;
}

#form {
  display: flex;
  flex-wrap: nowrap;
}

