body {
  margin: 0;
}

h1 {
  margin: 0 0 0 35px;
  font-size: large;
  padding: 10px;
}

.top-hd {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #f7f7f7;
  align-items: center;
}

.add-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container {
  padding: 20px;
  background-color: white;
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

ul {
  margin: 0;
}

ul li {
  display: flex;
  border: 1px solid #f7f7f7;
  list-style-type: none;
  justify-content: space-between;
  padding: 10px;
}

button {
  color: black;
  display: block;
  justify-content: center;
  background-color: rgb(251, 251, 251);
  padding: 12px;
  outline: none;
  border: none;
  width: 100%;
  cursor: pointer;
}

.fa-solid {
  color: #b7b2b2;
  cursor: move;
  padding-right: 11px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  justify-content: space-between;
}

input {
  margin: 0 0 0 45px;
  border: none;
  font-style: italic;
  padding: 14px;
  width: 35%;
}

#body {
  border: #0c0b0b;
}
